/*Colours*/
$primaryColour: white;
$secondaryColour: #245554;
$primaryAccentColour: black;
$secondaryAccentColour: #353535;
$secondaryAccentLighter: #dadada;
$ulLinkColour: #b2d8f9;

/*Measurements*/
$titleBarHeight: 51.3px;
$fontFam: titillium, "Courier New", sans-serif ;
$pFontSize: 12pt;

/*Tools*/
$menuCollapseAnimationTime: 0.5s;
$phoneWidth: 540px;
$maxContentWidth: 900px;
