$primaryColour: white;
$accentColour: black;
$fontFam: titillium, "Courier New", sans-serif ;
$phoneWidth: 378px;


@font-face {
  font-family: titillium;
  src: url(../../../Fonts/TitilliumWeb-Regular.ttf);
}

.App {
  text-align: center;
  font-family: $fontFam;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $accentColour;
  padding: 20px;
  color: $primaryColour;
  display: inline-flex;
  justify-content: space-between;
}

.App-bar-item {
  flex: 1;
}

.App-title {
  font-size: 20pt;
  margin: 0;
}

.App-menu-icon {
  text-align: left;
  cursor: pointer;
}
.glyphicon.glyphicon-align-justify {
  font-size: 20pt;
  transition-duration: 0.5s;
}

.rotate180 {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.App-menu-container {
  text-align: left;
  border-right: 2px solid black;
  margin-top: 71px;
  @media screen and (min-width: $phoneWidth+1){
    transition: width 1s ease;
    overflow: hidden;
    width: 175px;
  }
  @media screen and (max-width: $phoneWidth) {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease;
  }
}

.close-nav-menu{
  @media screen and (min-width: $phoneWidth+1){
    transition: width 1s ease;
    width: 0;
    overflow: hidden;
  }
  @media screen and (max-width: $phoneWidth) {
    transition: max-height 1s ease;
    max-height: 0;
    overflow: hidden;
  }
}

.app-menu-item-container {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}
.menu-item:hover {
  background-color: $primaryColour;
  color: $accentColour;
  border-top: 1px solid $accentColour;
  border-bottom: 1px solid $accentColour;
}
.menu-item{
  margin: 0;
  padding: 10px 20px;
}

.menu-sub-item{
  background-color: #1fd2d5;
  color: #4f4f4f;
  margin: 0;
  padding: 10px 0 10px 40px;
}

.menu-sub-item:hover {
  background-color: white;
  border-top: 1px solid $accentColour;
  border-bottom: 1px solid $accentColour;
}

.selected-menu-item{
  background-color: $primaryColour;
  color: black;
  font-weight: bold;
}

.footer {
  padding: 100px;
  background: $accentColour;
  color: $primaryColour;
  width: 100%;
}
